// IMPORTS

@use 'sass:color';
@use 'sass:map';
@use 'sass:math';

// VARIABLES

// Selector shorthands
$headings: h1, h2, h3, h4, h5, h6;

// Colors
$background-color: #202020;
$text-color: #E8FFE9;
$link-color: #FFDFB4;

// Text
$main-font: 'Roboto', sans-serif;
$heading-font: 'Sofia Sans', sans-serif;
$font-size: 1.125rem;
$line-height: 1.5;

// Spacing
$spacer: 8px;
$space-between-icons: $spacer * 1;
$section-heading-inline-padding: $spacer * 2;

// Grid
$number-of-grid-columns: 3;
$grid-middle-column-width: 600px;
$grid-left-margin-proportion: 0.4fr;
$grid-right-margin-proportion: 0.6fr;
$grid-column-gap: $spacer * 6;
$grid-row-gap: $spacer * 3;
$grid-outer-padding: $spacer * 8;

// Background image in header
$background-image-width: 1592px;
$background-image-intrinsic-ratio: calc(4 / 3);
$background-image-height: calc(
  $background-image-width / $background-image-intrinsic-ratio
);
$background-image-focal-point-x: $background-image-width * 0.5227537922987164;
$background-image-focal-point-y: $background-image-height * 0.38161993769470404;
:root {
  --background-image-adjustment-x: 125px;
  --background-image-adjustment-y: 70px;
}
$background-image-adjustment-x: var(--background-image-adjustment-x);
$background-image-adjustment-y: var(--background-image-adjustment-y);

// Variables related to sizing and positioning in right margin
$nav-number-of-items: 3;
$nav-item-height: calc($line-height * $font-size);
$nav-content-height: calc($nav-item-height * $nav-number-of-items);
$nav-top-margin: 0.75rem;
$nav-height: calc($nav-content-height + $nav-top-margin);
$screenshot-container-height: calc(
  100vh
  - $nav-height
  - $grid-outer-padding
  - $grid-row-gap
);

// Widths for media queries
$medium-width-maximum: 1143px;

// Section colors
$section-colors: (
  background: rgb(73, 95, 166),
  projects: rgb(126, 90, 90),
  skills: rgb(0, 101, 110)
);

// MIXINS

@mixin heading-font {
  font-family: $heading-font;
  font-weight: 300;
}

@mixin section-colors($alpha, $alpha-hover) {
  @each $section-name, $color in $section-colors {
    &--#{$section-name} {
      background-color: color.scale($color, $alpha: $alpha);
    }
    &--#{$section-name}:hover {
      background-color: color.scale($color, $alpha: $alpha-hover);
    }
  }
}

@mixin right-margin {
  position: fixed;
  padding-right: $grid-outer-padding;
  @media (max-width: $medium-width-maximum) {
    display: none;
  }
}

// STYLE RULES

// General

[hidden] {
  display: none !important;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $main-font;
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
  margin: 0;
}

#{$headings}, p, dt, dd, ul, button, figure {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#{$headings}, hgroup {
  @include heading-font;
  text-transform: uppercase;
}

a, .icon {
  appearance: none;
  background-color: unset;
  border: none;
  color: unset;
  cursor: pointer;
  font-size: unset;
  text-decoration-line: unset;
}

a:not(
  .icon,
  .nav__link
) {
  color: $link-color;
  font-weight: 500;
  text-decoration-line: underline;
  &:hover {
    text-decoration-line: none;
  }
}

b,.project dt {
  font-weight: 500;
}

main {
  display: contents;
}

.icons {
  display: inline-flex;
  flex-direction: row;
  gap: $space-between-icons;
}

.list {
  padding-left: $section-heading-inline-padding;
  list-style-type: unset;
}

.icon:hover {
  color: color.scale($text-color, $alpha: -20%);
}

// Grid

.grid {
  display: grid;
  column-gap: $grid-column-gap;
  row-gap: $grid-row-gap;
  padding: $grid-outer-padding;
  overflow: hidden;
  grid-template-columns:
    $grid-left-margin-proportion
    $grid-middle-column-width
    $grid-right-margin-proportion;
  grid-template-areas:
    ". header nav"
    ". header screenshots"
    ". main   screenshots"
    ". footer screenshots";
}

// Header

.header {
  display: contents;
}

.header__text-and-image {
  display: grid;
  grid-template-columns: [start] auto [middle] auto [end];
  grid-template-rows: [start] auto [end];
  grid-area: header;
}

.header__text {
  grid-column-start: middle;
  grid-column-end: end;
  grid-row-start: start;
  grid-row-end: end;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: $spacer;
  text-align: right;
  text-shadow: 0 0 8px $background-color;
}

.header__text-heading {
  display: contents;
}

.header__image-and-overlay {
  grid-column-start: start;
  grid-column-end: middle;
  grid-row-start: start;
  grid-row-end: end;
  height: 0;
  width: 0;
  position: relative;
  top: calc($background-image-adjustment-y - $background-image-focal-point-y);
  left: calc($background-image-adjustment-x - $background-image-focal-point-x);
  z-index: -10;
}

.header__image {
  width: $background-image-width;
  position: absolute;
}

.header__overlay {
  width: $background-image-width;
  height: $background-image-height;
  position: absolute;
  background-image:
    linear-gradient(to right, transparent 58%, 64%, $background-color 74%),
    linear-gradient(to bottom, transparent 50%, 55%, $background-color 65%),
    radial-gradient(
      ellipse 50% 50% at 52% 38%,
      transparent 20%, 50%, $background-color
    );
}

// Nav

.nav {
  grid-area: nav;
  height: $nav-height;
  @include heading-font;
}

.nav__link {
  height: $nav-item-height;
  overflow: hidden;
  display: block;
  padding: 0 ($spacer * 3) 0 ($spacer * 3);
  @include section-colors($alpha: -100%, $alpha-hover: -20%);
  &:hover {
    font-weight: 400;
  }
}

.nav__content {
  @include right-margin;
  display: flex;
  flex-direction: column;
  border-left: 2px solid $text-color;
  margin-top: $nav-top-margin;
}

// Section

.section__container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: $grid-row-gap;
}

.section__backdrop {
  @include section-colors($alpha: -50%, $alpha-hover: -20%);
  border-radius: 0.5rem;
  position: relative;
  &:hover {
    z-index: 10;
  }
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: $spacer * 2;
  padding: $spacer * 4;
  #{$headings} {
    background-color: rgb(160 160 160 / 22%);
    align-self: flex-start;
    padding: ($spacer * 0.5) $section-heading-inline-padding;
  }
}

// Footer

.footer {
  grid-area: footer;
  font-size: 0.8rem;
  text-align: right;
  line-height: 1;
}

// Project

.project__container, .project {
  display: contents;
}

.project dt {
  display: flex;
  gap: $space-between-icons;
}

// Screenshot

.screenshot__outer-container--margin {
  grid-area: screenshots;
}

.screenshot__container--margin {
  @include right-margin;
  height: $screenshot-container-height;
  overflow-y: auto;
  padding-left: calc($spacer / 2);
}

.screenshot__inner-container {
  display: flex;
  flex-direction: column;
  gap: $grid-row-gap;
  & .screenshot__project:last-child {
    margin-bottom: $grid-outer-padding;
  }
}

.screenshot {
  border-radius: 10px;
  max-width: 100%;
  cursor: zoom-in;
  .screenshot__container--margin & {
    display: block;
  }
}

.screenshot--open {
  visibility: hidden;
}

.screenshot__container--inline {
  display: none;
}

.screenshot__theatre {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0 0 0 / 60%);
  z-index: 20;
  padding: 0 2em;
}

.screenshot__frame {
  display: flex;
  align-items: center;
  position: relative;
  .screenshot {
    cursor: zoom-out;
    max-width: 100%;
    max-height: 90vh;
  }
}

// Modal

.modal__close-button {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  background: $background-color;
  border-radius: 50%;
  box-shadow: 0px 0px 5px $background-color;
  font-size: 2.25rem;
  line-height: 0;
}

// MEDIA QUERIES

// Add inline thumbnails when sidebar thumbnails vanish (see right-margin mixin)

@media (max-width: $medium-width-maximum) {
  .screenshot__container--inline {
    display: flex;
  }
  .screenshot__toggle {
    display: none;
  }
}

// Remove margins for smaller screen sizes

@media (
  max-width:
    $grid-middle-column-width
    + $grid-column-gap * $number-of-grid-columns
    + $grid-outer-padding * 2
) {
  .grid {
    grid-template-columns:
      [left-margin-start]  0fr [left-margin-end]
                           1fr
      [right-margin-start] 0fr [right-margin-end];
    column-gap: 0;
  }
}

// Adjust header image gradient

@media (max-width: 700px) {
  .header__overlay {
    background-image: linear-gradient(to right, transparent 54%, 60%, #202020 74%),
                      linear-gradient(to bottom, transparent 50%, 55%, #202020 65%),
                      radial-gradient(ellipse 50% 50% at 52% 38%, transparent 20%, 50%, #202020);
  }
}

// Adjust font size

@media (max-width: 568px) {
  body {
    font-size: 1rem;
  }
  .header__image-and-overlay {
    --background-image-adjustment-x: 95px;
  }
}

// For smallest screens, remove header image and reduce padding

@media (max-width: 507px) {
  .header__image-and-overlay {
    display: none;
  }
  .grid {
    padding-inline: $spacer * 2;
  }
  .section__content {
    padding: $spacer * 2;
  }
}
